<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.instagram.com/aryanadike/"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/adike-rohith-aryan-1b25a6201/"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/rohith-aryan"><i class="fa-brands fa-square-github"></i></a>
        </div>
        <div class="f-info-brand">&copy; WanderNest Private Limited</div>
        <div class="f-info-links">
            <a href="">Privacy</a>
            <a href="">terms</a>
        </div>
    </div>
</footer>